.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}
.button_group{
    width: 100%;
}
button{
    display: flex;
    align-items: center;
}
.select_option{
    cursor: pointer;
}
.delete{
    color: var(--danger);
}