<div class="component_container component_container-padding dashboard_container">
    <div class="card">
        <p>36</p>
        <h2>Books borrowed in the last hour</h2>
    </div>
    <div class="card">
        <p>20</p>
        <h2>Users online in the past hour</h2>
    </div>
    <div class="card">
        <p>5</p>
        <h2>Books updated in the last hour</h2>
    </div>
    <div class="card">
        <p>{{details.totalusers}}</p>
        <h2>Total users</h2>
    </div>

    <div class="card">
        <p>{{details.totalBooks}}</p>
        <h2>Books present</h2>
    </div>

</div>