.content {
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px 0 0 50px;
  gap: 30px;
}
.card {
  height: 70vh;
  aspect-ratio: 13/19;
}
.card.meta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    form{
        width: 100%;
    }
}
.book_design {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book {
  height: 100%;
  aspect-ratio: 3/4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: aquamarine;
  border-radius: 0 0 0 4vh;
  overflow: hidden;
  .div1 {
    grid-area: 1 / 1 / 6 / 2;
  }
  .div2 {
    grid-area: 6 / 1 / 7 / 5;
  }
  .div3 {
    grid-area: 1 / 2 / 6 / 5;
  }
  .div1 {
    opacity: 0.5;
    background-color: black;
  }
  .div2 {
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 5px;
    .pages {
      background-color: antiquewhite;
      z-index: 2;
      width: 100%;
      height: 100%;
      border-radius: 10vh 0 0 10vh;
    }
  }
  .div3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    label{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        input{
            display: none;
        }
    }
 
  }
}
.card.pages{
  display: flex;
  flex-direction: column;
  gap: 20px;
  p{
    color: var(--theme_color-bold);
  }
  .pages{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 30px));
    gap: 15px;
    align-content: flex-start;
    justify-items: center;
    padding: 20px;
    height: 100%;
    .page{
      background-color: var(--theme_color-light);
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
}
.update_book_content{
  .row, text-area{
    width: 100%;
  }
  .row{
    margin-top: 10px;
    height: 100%;
  }
  .button_group{
    justify-content: center;
    // margin-top: 10px;
  }
}