:root {
  --theme_color-bold: #007bff;
  --theme_color-light: #c8e3ff;
  --theme: white;
  --background-white: #edf6ff;
  --danger: red;
  --font-color: black;
  --font-color-faded: grey;
  --font-color-inverse: white;
}
